body {
  margin: 0 auto;
}
/* -----------⬆リセットCSS⬆--------------------- */

.header-information {
  background-color: #f7f7f7;
  text-align: center;
  padding: 17px 15px;
  font-size: 16px;
}
header {
  height: 130px;
  display: flex;
  justify-content: space-around;
  /* border: solid 1px; */
}
.header-title {
  font-size: 30px;
  /* border: solid 1px; */
  line-height: 130px;
  margin-left: 100px;
}
ul {
  width: 800px;
  display: flex;
  justify-content: space-around;
  /* border: solid 1px; */
  line-height: 90px;
  margin-left: 200px;
}
.list-title {
  list-style: none;
}
.list-title-monosus {
  list-style: none;
  color: red;
}
.main {
  background-color: skyblue;
  height: 800px;
}
.primary {
  background-color: white;
  height: 800px;
}
footer {
  background-color: wheat;
  height: 200px;
}