/* -----------以下リセットCSS--------------------- */
body {
  margin: 0 auto;
  width: 100%;
  font-family: "游ゴシック体", "Yu Gothic",YuGothic,"メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","Lato", "tahoma",sans-serif;
}

/* ----------以下header---------- */
.header-information {
  background-color: #f7f7f7;
  text-align: center;
  padding: 17px 15px;
  margin-top: 0;
}
.header-information-link {
  color: #333333;
  text-decoration: none;
}
.header-information-link:hover {
  border-bottom: solid 1px;
}
#header {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 2;
  top: 0;
  border-bottom: solid 1px #cccccc;
  background-color: white;
}
.header-title {
  font-size: 38px;
  font-weight: bold;
  color: #454545;
  text-decoration: none;
  line-height: 15px;
}
.header-main-box {
  height: 25%;
  width: 202px;
  position: absolute;
  top: 115px;
  left: 160px;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  color: #454545;
  z-index: 1;
}
.mono {
  position: absolute;
  width: 100%;
  top: -55px;
  left: 20px;
}
.sasu {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 20px;
}
#header-lists {
  width: 750px;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
  margin-left: 240px;
  letter-spacing: 2px;
}
#list-title {
  height: 23px;
  color: #454545;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
#list-title-monosus {
  list-style: none;
  color: #c9171e;
  line-height: 25px;
  font-size: 27px;
  text-decoration: none;
}
#list-title:hover {
  border-bottom: solid 2px #c9171e;
}
.header {
  height: 130px;
  display: flex;
  justify-content: space-around;
}
.header-lists {
  width: 750px;
  display: flex;
  justify-content: space-around;
  line-height: 90px;
  margin-left: 540px;
  letter-spacing: 2px;
}
.header-list {
  list-style: none;
}
.list-title {
  height: 53px;
  color: #454545;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.list-title:hover {
  border-bottom: solid 2px #c9171e;
}
.list-title-monosus {
  list-style: none;
  color: #c9171e;
  line-height: 90px;
  font-size: 25px;
  text-decoration: none;
}

/* ----------以下section---------- */
section {
  height: auto;
  display: flex;
}
article {
  height: 100%;
  width: 74%;
  margin-left: 50px;
}
.main-contents {
  text-align: center;
  position: relative;
}
.main-image-box {
  height: 24%;
  width: 85.4%;
  background-color: black;
  position: absolute;
  opacity: 0.5;
  bottom: 6px;
  left: 75px;
}
.main-image-title {
  position: absolute;
  bottom: 45px;
  left: 115px;
  font-size: 28px;
}
.main-image-title-link {
  text-decoration: none;
  color: white;
}
.main-image-subbox {
  width: 78%;
  position: absolute;
  bottom: 10px;
  left: 115px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.main-image-subtitle {
  font-size: 18px;
  display: inline-block;
}
.main-image-subtitle-link {
  color: white;
  text-decoration: none;
}
.main-image-creator {
  position: absolute;
  font-size: 14px;
  font-family: fantasy;
  top: 5px;
  right: 0;
  letter-spacing: 1px;
}
.main-image-creator-link {
  color: white;
  text-decoration: none;
}
.main-contents-box {
  width: 82%;
  display: flex;
  margin-left: 75px;
  padding: 30px 0;
}
.main-contents-text {
  width: 100%;
  margin: auto;
  line-height: 30px;
  color: #454545;
}
.main-contents-contributor {
  width: 24%;
  text-align: center;
}
.main-contents-contributor-image {
  height: 80px;
  width: 80px;
  background-image: url(https://cdn.pixabay.com/photo/2019/04/10/23/51/dog-4118585_1280.jpg);
  background-size: cover;
  background-position: top left 40%;
  border-radius: 50%;
  margin: auto;
}
.main-contents-contributor-explanatory {
  color: #454545;
  font-size: 15px;
}
.main-contents-btn-area {
  width: 82.1%;
  margin: auto;
}
.main-contents-read-more-area {
  width: 25%;
  padding: 15px;
  border: solid 1px #ccc;
  text-align: center;
  margin-left: 250px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.main-contents-read-more-area:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}
.read-more-btn {
  color: #1d5ab6;
  text-decoration: none;
}
.main-right {
  height: auto; 
  width: 26%;
  border-left: solid 1px #cccccc;
  position: relative;
  margin-bottom: 60px;
}
.main-right-head {
  width: 53.5%;
  height: 59%;
  border-bottom: solid 1px #cccccc;
  display: flex;
  margin-left: 50px;
  color: #454545;
}
.main-right-title-left {
  height: auto;
  width: auto;
  font-size: 34px;
  font-weight: bold;
  writing-mode: vertical-lr;
  position: absolute;
}
.main-right-title-right {
  width: 40%;
  height: auto;
  font-size: 34px;
  font-weight: bold;
  writing-mode: vertical-lr;
  margin: 40px 0px 0 100px;
}
.main-right-foot {
  height: auto;
  width: auto;
}
.main-right-foot-image {
  margin-top: 25px;
  height: 200px;
  width: 200px;
}
.main-right-foot-title {
  font-size: 18px;
  margin-left: 40px;
  font-weight: bold;
  color: #454545;
}
.main-right-foot-text {
  font-size: 14px;
  color: #454545;
}
.instagram-link {
  text-decoration: none;
  font-size: 14px;
  color: #454545;
}
.instagram-btn {
  width: 57%;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  background-color: #eae4bd;
}
.instagram-btn:hover {
  background-color: #d8d2ae;
  transition: 0.3s;
}
.primary {
  height: auto;
}
.primary-head {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 80%;
  padding: 0 10px;
  margin: auto;
  text-align: center;
  line-height: 400px;
}
.primary-head-left {
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 95px;
  background-image: url(https://cdn.pixabay.com/photo/2019/02/05/07/52/pixel-cells-3976295_1280.png);
  width: 230px;
  height: 230px;
}
.primary-head-center {
  font-size: 37px;
  font-weight: bold;
  color: #333333;
  margin: 0 50px 50px 0;
}
.primary-head-right {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 80px 10px 0 0;
  background-image: url(https://cdn.pixabay.com/photo/2019/02/24/11/49/icon-4017417_1280.png);
  width: 180px;
  height: 180px;
}
.primary-contents {
  height: auto;
}
.primary-contents-boxs {
  height: 300px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}
.primary-contents-box {
  height: auto;
  width: auto;
  margin: auto;
}
.primary-images-boxs {
  height: 140px;
  width: 250px;
  background-color: #1d5ab6;
  overflow: hidden;
}
.primary-images {
  height: 140px;
  width: 255px;
  transition: 0.5s;
  display: block;
}
.primary-images:hover {
  transform: scale(1.1, 1.1);
}
.primary-content-box {
  height: 155px;
  width: 255px;
}
.primary-content-post-date {
  font-size: 14px;
  color: #999999;
}
.primary-content-title {
  font-size: 14px;
}
.primary-content-genre {
  font-size: 14px;
  color: #999999;
}
.primary-foot {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: auto;
  padding: 90px 0;
}
.primary-foot-btns {
  width: 100%;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.primary-foot-btn:hover {
  background-color: whitesmoke;
  transition: 0.3s;
} 
.primary-foot-btn {
  color: #1d5ab6;
  text-decoration: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 15px 55px;
}

/* ----------以下footer---------- */

footer {
  height: 200px;
  border-top: solid 1px #ccc;
}
.footer-head {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 40px 0;
}
.footer-head-contents {
  height: 16px;
  width: 100%;
  list-style: none;
  font-size: 14px;
}
.footer-head-links:hover {
  border-bottom: solid 1px #1d5ab6;
}
.footer-head-links {
  color: #1d5ab6;
  text-decoration: none;
}
.footer-foot {
  border-top: solid 1px #ccc;
  text-align: center;
  font-size: 12px;
  color: #454545;
  line-height: 100px;
}